@CHARSET "UTF-8";

body, html {
	font-family: 'Nunito', sans-serif;
	margin: 0;
}

.top {
	margin-top: 0;
	border-bottom: 1px solid grey;
	text-align: center;
}

footer{
	border-top: 1px solid grey;
	padding-top: 10px;
	text-align: center;
	font-size: 10pt;
}
	
.logo {
	top: 0;
	height: 50vh;
	width: auto;
}

.content {
	width: 100%;
}

.about {
	height: 45vh;
	text-align: justify;
	background-image: url("images/background1.jpg");
	opacity: 0.8;
	padding: 50px;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Nunito', sans-serif;
}

.contactus {
	height: 75vh;
	text-align: justify;
	background-image: url("images/background2.jpg");
	opacity: 0.8;
	padding: 50px;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	font-family: 'Nunito', sans-serif;
	position: relative;
}

.contactform {
	display: inline-block;
}

.findus {
	display: inline-block;
	text-align: right;
	position: absolute;
	top: 50px;
	right: 50px;
}

label{
float: left;
width: 100px;
clear: left;
text-align: left;
padding-right: 10px;
}

input {
	height: 20px;
	font-family: 'Nunito', sans-serif;
	border-radius: 5%;
}

#submit {
	height: 30px;
	float: right;
}
	
.banner {
	height: 65vh;
	width: 100%;
	display: none;
	border-radius: 5px;
	box-shadow: 1px 1px 5px grey;
}

.category {
	position: relative;
}

.navigate {
	position: absolute;
	bottom: 10%;
	right: 5%;
	display: none;
	height: 10vh;
	font-size: 16pt;
	padding: 10px;
}

button:hover {
	cursor: pointer;
}

#navigate-plush {
	background-color: #B9D2B1;
	color: #395C6B;
	font-family: 'Indie Flower', cursive;
}

#navigate-plush:hover {
	background-color: #72A78F;
	color: #D4E3F6;
}
	

#navigate-lego {
	background-color: #FFEC33;
	color: #FF5733;
	font-family: 'Exo', sans-serif;
}

#navigate-lego:hover {
	background-color: #FF5733;
	color: #FFEC33;
}

#navigate-pop {
	background-color: #BB9674;
	color: #815631;
	font-family: 'Cuprum', sans-serif;
}

#navigate-pop:hover {
	background-color: #946E4B;
	color: #BB9674;
}

.button {
	position: absolute;
	top: 50%;
	border-radius: 50%;
	padding: 8px 16px;
}

.button:hover {
	background-color: #DCDCDC;
}

#button-left {
	left: 0;
}

#button-right {
	right: 0;
}