@CHARSET "UTF-8";

.top {
	margin: 10px;
	margin-top: 0;
	border-bottom: 1px solid grey;
	text-align: center;
}

footer{
	border-top: 1px solid grey;
	margin-top: 50px;
	padding-top: 10px;
	text-align: center;
}
	
.logo {
	top: 0;
	height: 50vh;
	width: auto;
}

.content {
	width: 100%;
}

.about {
	height: 45vh;
	text-align: justify;
	background-image: url("images/background1.jpg");
	opacity: 0.8;
	padding: 50px;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
	
.banner {
	height: 65vh;
	width: 100%;
	display: none;
	border-radius: 5px;
	box-shadow: 1px 1px 5px grey;
}

.category {
	position: relative;
}

.button {
	position: absolute;
	top: 50%;
	height: 10vh;
}

.button:hover {
	cursor: pointer;
	box-shadow: 1px 1px 30px white;
}

#button-left {
	left: 0;
}

#button-right {
	right: 0;
}